
@model day5_asp.Models.user

@{
    ViewBag.Title = "profile";
}

<h2 class="text-center text-primary ">Profile</h2>
<span>name : </span>
<span>@Model.name</span>
<br />

<span>age : </span>
<span>@Model.age</span>
<br />

<span>Email : </span>
<span>@Model.email</span>
<br />