@model day5_asp.Models.news
@{
    ViewBag.Title = "viewNews";
}



<h2 class="text-center text-danger ">@Model.title</h2>
<p class="text-muted">2021-02-17 15:02:10.913</p>
<img  src="~/attatch/@Model.img" style=" width100%;height:100%" class="text-center" />
<h3>Bref</h3>
<p class="" >
    @Model.bref
</p>
<h3>Details</h3>
<p>
    @Model.details
</p>
<h3>Published </h3>
<h4> @Model.myuser.name </h4>